* {
  margin: 0;
  padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --color-dark-blue: #2b85e4;
  --color-info: #2db7f5;
  --color-text: #333;
}
html {
  font-size: 20px;
}
#app {
  width: 100%;
  height: 100%;
}
label {
  font-size: 0.75rem;
}
ul {
  list-style: none;
}

/*************
* 弹窗
**************/
.yy-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.4);
}

.yy-modal .yy-modal-form-wrap {
  position: relative;
  --form-width: 40rem;
  --form-height: 30rem;
  width: var(--form-width);
  height: var(--form-height);
  top: calc((100% - var(--form-height)) / 2);
  left: calc((100% - var(--form-width)) / 2);
  background-color: #fff;
  box-shadow: 0 0 0.5rem #777;
}

.yy-modal .yy-modal-form-wrap form {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

#input_trade_list_table {
  width: 100%;
  font-size: 0.7rem;
  font-weight: normal;
  border-collapse: collapse;
  border: 0.05rem solid #ccc;
}
#input_trade_list_table input {
  display: inline-block;
  width: 2.1rem;
}